.btn-widget {
    background-color: #9c227d !important;
    color: #fff !important;
}

.form-control {
    height: calc(1em + 1.3rem + 2px) !important;
    border-radius: 0px !important;
}
.kt-badge.kt-badge--pill {
    border-radius: 2rem !important;
}
