<div id="form_business_management" class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item">
        <common-header [title]="title" [subTitle]="subTitle" [pageTitle]="pageTitle" [pageMenuHome]="true"></common-header>
    </div>
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="row">
            <div class="col-lg-3 com-md-6 col-sm-6" *ngFor="let item of taskCard; let i = index">
                <div class="kt-portlet">
                    <div class="kt-portlet__body">
                        <div class="kt-widget4">
                            <div class="kt-widget4__item">
                                <div class="kt-widget4__pic kt-widget4__pic--pic">
                                    <img src="../assets/common/icon/home-dashboard/homeDash1.svg" alt="">
                                </div>
                                <div class="kt-widget4__info">
                                    <p class="kt-widget4__text">
                                        {{item.title}}
                                    </p>
                                </div>
                                <span class="kt-font-lg kt-font-boldest" style="font-size: 1.5rem !important;">{{item.amt}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="kt-portlet kt-portlet--height-fluid">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                {{"Category" | localize}}
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">

                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <!--<ngx-charts-bar-vertical [results]="dailySalesLineChart.chartData"
                                                 [scheme]="dailySalesLineChart.scheme">
                            <ng-template #tooltipTemplate let-model="model">
                                <span>Day {{model.name}}</span>
                                <br />
                                <span>{{model.value}}</span>
                            </ng-template>
                        </ngx-charts-bar-vertical>-->
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="kt-portlet kt-portlet--height-fluid">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                {{"Vendor Rating" | localize}}
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">

                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div id="containerBar"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="kt-portlet kt-portlet--height-fluid">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                {{"My Task Board (Status)" | localize}}
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <div id="generalSearch" class="kt-input-icon kt-input-icon--left kt-padding-r-5">
                                <input type="text" class="form-control" placeholder="Search..." style="width:200px;">
                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                    <span><i class="flaticon2-search-1"></i></span>
                                </span>
                            </div>
                            <div class="btn-group dropdown" dropdown container="body">
                                <button dropdownToggle class="btn btn-sm border shadow">
                                    <i class="fa fa-bars no-padding"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu" *dropdownMenu style="left: -10rem !important;">
                                    <li>
                                        <a (click)="showGrid()">{{'Grid' | localize}}</a>
                                    </li>
                                    <li>
                                        <a (click)="showList()">{{'List' | localize}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div *ngIf="list">
                            <grid-view-related-findings [profilePic]="true"></grid-view-related-findings>
                        </div>

                        <div *ngIf="grid">
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <div class=" kt-portlet kt-portlet__body--fullheight portlet-card-color">
                                        <div class="kt-padding-15">
                                            <span class="kt-font-bold kt-padding-10">{{'Open' |localize}}</span>
                                        </div>
                                        <div class="kt-portlet__body kt-padding-10">
                                            <div class="kt-portlet kt" *ngFor="let item of gridTask; let i = index">
                                                <div class="kt-portlet__body kt-font-sm kt-padding-5">
                                                    <div>
                                                        <span>{{'Task Id' |localize}}</span>:
                                                        <span>{{item.taskId}}</span>
                                                    </div>
                                                    <div>
                                                        <span>{{'Task Name' |localize}}</span>:
                                                        <span>{{item.taskTitle}}</span>
                                                    </div>
                                                    <div>
                                                        <img [src]="item.pic" height="20" width="20" />
                                                    </div>
                                                    <div>
                                                        <span class="kt-font-lg kt-font-bold">{{item.name}}</span>
                                                    </div>

                                                    <div>
                                                        <span>{{item.requestedBy}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <div class=" kt-portlet kt-portlet__body--fullheight portlet-card-color">
                                        <div class="kt-padding-15">
                                            <span class="kt-font-bold kt-padding-10">{{'In Progress' |localize}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <div class=" kt-portlet kt-portlet__body--fullheight portlet-card-color">
                                        <div class="kt-padding-15">
                                            <span class="kt-font-bold  kt-padding-10">{{'Completed' |localize}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <div class=" kt-portlet kt-portlet__body--fullheight portlet-card-color">
                                        <div class="kt-padding-15">
                                            <span class="kt-font-bold kt-padding-10">{{'On Hold' |localize}}</span>
                                            <span class="kt-padding-5">{{'0' |localize}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
