<div class="kt-section kt-section--first">
    <div class="kt-section__body">
        <h5 class="kt-section__title kt-section__title-sm">{{"Company Employees" | localize}}</h5>
        <div class="row">
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Employee ID" | localize}}</label>
                    <input type="text" class="form-control" disabled placeholder="System Generated">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Employee Name" | localize}}</label>
                    <input type="text" class="form-control" placeholder="Employee Name">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Email" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Employee Position" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Profile Picture" | localize}}</label>
                    <input type="text" class="form-control" placeholder="Profile Picture">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Employee DOB" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Employee Age" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Personal Email" | localize}}</label>
                    <input type="text" class="form-control" placeholder="Personal Email">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Cell Phone" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Direct Phone" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Email Notifications (Exclude)" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Employee Type" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Business Unit" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>            
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Employee Grade" | localize}}</label>
                    <input type="text" class="form-control" placeholder="Employee Grade">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Business Services - Manager" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Business Services - Ownership" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Login User" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"User Link" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Access Card ID" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Company ID Number" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Risk Group" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
        </div>
    </div>
</div>
