    <div class="kt-section kt-section--first">
        <div class="kt-section__body">
            <h5 class="kt-section__title kt-section__title-sm">{{"Company Contacts" | localize}}</h5>
            <div class="row">
                <div class="col-lg-4 col-md-4 co-sm-12">
                    <div class="form-group">
                        <label>{{"Business Service ID" | localize}}</label>
                        <input type="text" class="form-control" disabled placeholder="System Generated">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 co-sm-12">
                    <div class="form-group">
                        <label>{{"Contact ID" | localize}}</label>
                        <input type="text" class="form-control" placeholder="Contact ID">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 co-sm-12">
                    <div class="form-group">
                        <label>{{"Type" | localize}}</label>
                        <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 co-sm-12">
                    <div class="form-group">
                        <label>{{"Name" | localize}}</label>
                        <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 co-sm-12">
                    <div class="form-group">
                        <label>{{"First Name" | localize}}</label>
                        <input type="text" class="form-control" placeholder="First Name">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 co-sm-12">
                    <div class="form-group">
                        <label>{{"Last Name" | localize}}</label>
                        <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 co-sm-12">
                    <div class="form-group">
                        <label>{{"Job Title" | localize}}</label>
                        <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 co-sm-12">
                    <div class="form-group">
                        <label>{{"Direct" | localize}}</label>
                        <input type="text" class="form-control" placeholder="Direct">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 co-sm-12">
                    <div class="form-group">
                        <label>{{"Phone" | localize}}</label>
                        <input type="text" class="form-control" placeholder="Phone">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 co-sm-12">
                    <div class="form-group">
                        <label>{{"Email" | localize}}</label>
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 co-sm-12">
                    <div class="form-group">
                        <label>{{"Login User" | localize}}</label>
                        <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 co-sm-12">
                    <div class="form-group">
                        <label>{{"Vendors" | localize}}</label>
                        <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 co-sm-12">
                    <div class="form-group">
                        <label>{{"Profile Picture" | localize}}</label>
                        <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
