<div class="row align-items-center no-margin">
    <div class="primeng-datatable-container"
         [busyIf]="primengTableHelper.isLoading">
        <p-table #dataTable
                 (onLazyLoad)="getFacilitiesDatacenters($event)"
                 [value]="primengTableHelper.records"
                 [lazy]="true"
                 [scrollable]="true"
                 [selection]="selectedRowData" (selectionChange)="onSelectionChange($event)"
                 ScrollWidth="100%">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 20px" *ngIf="!showPopupBtn">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th style="width: 150px" pSortableColumn="facilityId">
                        {{'Facility ID' |localize}}
                        <p-sortIcon field="facilityId"></p-sortIcon>
                    </th>
                    <th style="width: 150px" pSortableColumn="facilityName">
                        {{'Facility Name' |localize}}
                        <p-sortIcon field="facilityName"></p-sortIcon>
                    </th>
                    <th style="width: 150px" pSortableColumn="facilityId">
                        {{'Facility Type' |localize}}
                        <p-sortIcon field="facilityId"></p-sortIcon>
                    </th>
                    <th style="width: 250px" pSortableColumn="facilityId">
                        {{'Facility Location' |localize}}
                        <p-sortIcon field="facilityId"></p-sortIcon>
                    </th>
                    <th style="width: 200px" pSortableColumn="facilityId">
                        {{'Company Name' |localize}}
                        <p-sortIcon field="facilityId"></p-sortIcon>
                    </th>
                    <th style="width: 200px" pSortableColumn="facilityId">
                        {{'Business Unit - Owner' |localize}}
                        <p-sortIcon field="facilityId"></p-sortIcon>
                    </th>
                    <th style="width: 150px" pSortableColumn="facilityId">
                        {{'Confidentiality' |localize}}
                        <p-sortIcon field="facilityId"></p-sortIcon>
                    </th>                   
                    <th style="width: 100px" class="kt-align-center">
                        {{'Action' |localize}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body"  let-rowData let-record="$implicit">
                <tr [pSelectableRow]="rowData">
                    <td style="width: 20px" *ngIf="!showPopupBtn">
                        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                    </td>
                    <td style="width: 150px">
                        {{record.facilityId}}
                    </td>
                    <td style="width: 150px">
                        {{record.facilityName}}
                    </td>                    
                    <td style="width: 150px">
                        <span *ngIf="record.facilityType"> {{record.facilityType.value}}</span>
                       
                    </td>
                    <td style="width: 250px">
                        {{record.facilityAddressOne+","+ record.state +","+record.postalCode}}
                    </td>
                    <td style="width: 200px">
                        <span *ngIf="record.lockThreatOrganization">{{record.lockThreatOrganization.companyName}}</span>
                    </td>
                    <td style="width: 200px">
                        <span *ngIf="record.businessUnitOwner">{{record.businessUnitOwner.businessUnitTitle}}</span>
                     
                    </td>
                    <td style="width: 150px">
                        <span *ngIf="record.confidentiality">{{record.confidentiality.value}}</span>         
                    </td>
                    <td style="width: 100px" class="kt-align-center">
                        <i *ngIf="!showPopupBtn" class="fas fa-pencil-alt kt-padding-5 mouse-hover kt-font-info" (click)="facilitieDatacenterEdit(record.id)"></i>
                        <i *ngIf="showPopupBtn" class="fas fa-pencil-alt kt-padding-5 mouse-hover kt-font-info" (click)="facilitiesDatacentersModals.show()"></i>
                        <i class="far fa-trash-alt kt-padding-5 mouse-hover kt-font-google" (click)="facilitieDatacenterDelete(record.id)"></i>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <!--<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
        {{'NoData' | localize}}
    </div>-->
    <div class="primeng-paging-container">
        <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                     (onPageChange)="getFacilitiesDatacenters($event)"
                     [totalRecords]="primengTableHelper.totalRecordsCount"
                     [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
        </p-paginator>
        <span class="total-records-count">
            {{'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount}}
        </span>
    </div>
    </div>
</div>
<facilitiesDatacentersModals #facilitiesDatacentersModals></facilitiesDatacentersModals>
