<div class="kt-section kt-section--first">
    <div class="kt-section__body">
        <h5 class="kt-section__title kt-section__title-sm">{{"Associated Projects" | localize}}</h5>
        <div class="row">
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Program ID" | localize}}</label>
                    <input type="text" class="form-control" disabled placeholder="System Generated">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Program Title" | localize}}</label>*
                    <input type="text" class="form-control" placeholder="Program Title">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Description" | localize}}</label>
                    <input type="text" class="form-control" placeholder="Description">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Program Team Email (Distribution List)" | localize}}</label>
                    <input type="text" class="form-control" placeholder="Program Team Email (Distribution List)">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Start Date" | localize}}</label>
                    <input type="text" class="form-control" placeholder="Start Date">
                   
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Country" | localize}}</label>
                    <input type="text" class="form-control" placeholder="Country">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Program Logo (If Any)" | localize}}</label>
                    <input type="text" class="form-control" placeholder="Program Logo (If Any)">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Program Sponsor" | localize}}</label>
                    <input type="text" class="form-control" placeholder="Program Sponsor">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Program Director" | localize}}</label>
                    <input type="text" class="form-control" placeholder="Program Director">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{" Program Team" | localize}}</label>
                    <input type="text" class="form-control" placeholder=" Program Team">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Program Co-ordinator(s)" | localize}}</label>
                    <input type="text" class="form-control" placeholder="Program Co-ordinator(s)">
                </div>
            </div>
        </div>
    </div>
</div>
<associatedPogramsModals #associatedPogramsModals></associatedPogramsModals>
