<div class="kt-section kt-section--first">
    <div class="kt-section__body">
        <h5 class="kt-section__title kt-section__title-sm">{{"Business Services Info" | localize}}</h5>
        <div class="row">
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Review ID" | localize}}</label>
                    <input type="text" class="form-control" disabled placeholder="System Generated">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Requested By" | localize}}</label>
                    <input type="text" class="form-control" placeholder="Requested By">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Review Title" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Review Type" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Summary / Description" | localize}}</label>
                    <input type="text" class="form-control" placeholder="Business Service Name">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Assigned To" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Business Units" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Vendor(s)" | localize}}</label>
                    <input type="text" class="form-control" placeholder="Related IT Service(s)">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Schedule" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Start Date" | localize}}</label>
                    <input type="text" class="form-control" placeholder="Start Date">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"End Date" | localize}}</label>
                    <input type="text" class="form-control" placeholder="End Date">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Every (x) Days" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Periodic Review (End Date)" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Authoratative Document(s)" | localize}}</label>
                    <input type="text" class="form-control" placeholder="Authoratative Document(s)">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Related Questionnaire(s)" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Selected Questions List" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
        </div>
    </div>
</div>
