<div class="kt-section kt-section--first">
    <div class="kt-section__body">
        <h5 class="kt-section__title kt-section__title-sm">{{"Review Data" | localize}}</h5>
        <div class="row">
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Review ID" | localize}}</label>
                    <input type="text" class="form-control" disabled placeholder="System Generated">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Review Lead" | localize}}</label>
                    <input type="text" class="form-control" placeholder="Review Lead">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Cyber Awareness Score" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Business Units" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Vendors" | localize}}</label>
                    <input type="text" class="form-control" placeholder="Vendors">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Contacts" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Questions ID" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Questions Library" | localize}}</label>
                    <input type="text" class="form-control" placeholder="Questions Library">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Question Assigned To" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Responded By" | localize}}</label>
                    <input type="text" class="form-control" placeholder="Responded By">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Answer Points" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Response Time" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Remarks" | localize}}</label>
                    <input type="text" class="form-control" placeholder="Remarks">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Verifier" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Verfied Time" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Review Question Status" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Review Feedback" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Question Answered" | localize}}</label>
                    <p-dropdown [showClear]="true" filter="true" [style]="{'width': '100%'}"></p-dropdown>
                </div>
            </div>
        </div>
    </div>
</div>
