<div class="kt-section kt-section--first">
    <div class="kt-section__body">
        <h5 class="kt-section__title kt-section__title-sm">{{"Systems and Applications Info" | localize}}</h5>
        <hr />
        <div class="row">
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"System ID" | localize}}</label>
                    <input type="text" class="form-control" [(ngModel)]="systeamApplication.systemId" name="systemid" disabled placeholder="System Generated">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"System (Application )Name" | localize}}</label>
                    <input type="text" class="form-control" [(ngModel)]="systeamApplication.systemApplicationName" name="applicationname" placeholder="System (Application )Name">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="kt-section kt-section--first">
    <div class="kt-section__body">
        <h5 class="kt-section__title kt-section__title-sm">{{"Asset Location" | localize}}</h5>
        <hr />
        <div class="row">
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Address Line 1" | localize}}</label>
                    <input type="text" class="form-control" [(ngModel)]="systeamApplication.addressOne" name="addressone" placeholder="Address Line 1">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Address Line 2" | localize}}</label>
                    <input type="text" class="form-control" [(ngModel)]="systeamApplication.addressTwo" name="addresstwo" placeholder="Address Line 2">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"City / District" | localize}}</label>
                    <input type="text" class="form-control" [(ngModel)]="systeamApplication.city" name="city" placeholder="City / District">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"State / Province" | localize}}</label>
                    <input type="text" class="form-control" [(ngModel)]="systeamApplication.state" name="state" placeholder="State / Province">
                </div>
            </div>

            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Postal Code" | localize}}</label>
                    <input type="text" class="form-control" [(ngModel)]="systeamApplication.postalCode" name="postalcode" placeholder="Postal Code">
                </div>
            </div>

            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Country" | localize}}</label>
                    <p-dropdown [style]="{'width': '100%'}" [options]="country" [filter]="true" placeholder="Select Country " optionLabel="name" required=true [(ngModel)]="selectedCountry" name="Country" (onChange)="countryChange($event)"></p-dropdown>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="kt-section kt-section--first">
    <div class="kt-section__body">
        <h5 class="kt-section__title kt-section__title-sm">{{"Management & Dependencies" | localize}}</h5>
        <hr />
        <div class="row">

            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Company Name" | localize}}</label>
                    <p-dropdown [style]="{'width': '100%'}" [options]="organization" [filter]="true" placeholder="Select Company" optionLabel="companyName" [(ngModel)]="selectedOrganization" name="oraganization" (onChange)="oraganizationChange($event)"></p-dropdown>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Business Unit - Owner" | localize}}</label>
                    <p-dropdown [style]="{'width': '100%'}" [options]="businessUnitOwner" [filter]="true" placeholder="Select Business Unit" optionLabel="businessUnitTitle" [(ngModel)]="selectedbusinessUnitOwner" name="businessUnitowner" (onChange)="businessUnitOwnerChange($event)"></p-dropdown>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Business Unit - Gaurdian" | localize}}</label>
                    <p-dropdown [style]="{'width': '100%'}" [options]="businessUnitGaurdian" [filter]="true" placeholder="Select Business Unit" optionLabel="businessUnitTitle" [(ngModel)]="selectedbusinessUnitGaurdian" name="businessUnit" (onChange)="businessUnitGaurdianChange($event)"></p-dropdown>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Business Services" | localize}}</label>
                    <p-multiSelect [style]="{'width': '100%'}" [maxSelectedLabels]="1" [options]="businessService" [filter]="true" placeholder="Select Business Service" optionLabel="businessServiceName" [(ngModel)]="selectedBusinessService" name="businessServices" (onChange)="businessServiceChange($event)"></p-multiSelect>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Business Process" | localize}}</label>
                    <p-multiSelect [style]="{'width': '100%'}" [maxSelectedLabels]="1" [options]="businessProcess" [filter]="true" placeholder="Select Business process" optionLabel="businessProcessName" [(ngModel)]="selectedbusinessProcess" name="businessProcess" (onChange)="businessProcessChange($event)"></p-multiSelect>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"IT Services" | localize}}</label>
                    <p-multiSelect [style]="{'width': '100%'}" [maxSelectedLabels]="1" [options]="itservice" [filter]="true" placeholder="Select ITService Name" optionLabel="itServiceName" [(ngModel)]="selectedItservice" name="itservicesname" (onChange)="itserviceChange($event)"></p-multiSelect>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="kt-section kt-section--first">
    <div class="kt-section__body">
        <h5 class="kt-section__title kt-section__title-sm">{{"Ownership" | localize}}</h5>
        <hr />
        <div class="row">
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Asset Owner" | localize}}</label>
                    <p-dropdown [style]="{'width': '100%'}" [options]="assetOwner" [filter]="true" placeholder="Select Owner" optionLabel="employeeName" [(ngModel)]="selectedAssetOwner" name="assetowner" (onChange)="assetOwnerChange($event)"></p-dropdown>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="kt-section kt-section--first">
    <div class="kt-section__body">
        <h5 class="kt-section__title kt-section__title-sm">{{"Classification" | localize}}</h5>
        <hr />
        <div class="row">
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Confidentiality" | localize}}</label>
                    <p-dropdown [style]="{'width': '100%'}" [options]="Confidentiality" [filter]="true" placeholder="Select Confidentiality" optionLabel="value" [(ngModel)]="selectedConfidentiality" name="Confidentiality" (onChange)="confidentialityChange($event)"></p-dropdown>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Integrity" | localize}}</label>
                    <p-dropdown [style]="{'width': '100%'}" [options]="integrity" [filter]="true" placeholder="Select integrity" optionLabel="value" [(ngModel)]="selectedintegrity" name="integrity" (onChange)="integrityChange($event)"></p-dropdown>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Availibility" | localize}}</label>
                    <p-dropdown [style]="{'width': '100%'}" [options]="availibility" [filter]="true" placeholder="Select Availibility" optionLabel="value" [(ngModel)]="selectedAvailibility" name="availibility" (onChange)="availibilityChange($event)"></p-dropdown>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Others" | localize}}</label>
                    <p-dropdown [style]="{'width': '100%'}" [options]="others" [filter]="true" placeholder="Select others" optionLabel="value" [(ngModel)]="selectedothers" name="others" (onChange)="othersChange($event)"></p-dropdown>
                </div>
            </div>

        </div>
    </div>
</div>
