<div class="kt-section kt-section--first">
    <div class="kt-section__body">
        <h5 class="kt-section__title kt-section__title-sm">{{"Virtual Host Info" | localize}}</h5>
        <hr/>
        <div class="row">
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Virtual Asset ID" | localize}}</label>
                    <input type="text" disabled class="form-control" [(ngModel)]="virtualAsset.virtualAssetId" name="AssetId" placeholder="System Generated">
                </div>
            </div> 
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Virtual Asset Name" | localize}}</label>
                    <input type="text" class="form-control" [(ngModel)]="virtualAsset.virtualAssetName" name="virtualassetname" placeholder="Virtual Asset Name">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Virtual Asset (Unique Identity)" | localize}}</label>
                    <input type="text" class="form-control" [(ngModel)]="virtualAsset.virtualAssetUniqueIdentity" placeholder="Virtual Asset (Unique Identity)">
                </div>
            </div>
            
            <div class="col-lg-4 col-md-4 co-sm-12">
                    <div class="form-group kt-padding-t-10">
                        <label> </label>
                        <div class="kt-checkbox-list">                           
                            <label class="kt-checkbox kt-checkbox--brand">
                                <input type="checkbox" [(ngModel)]="virtualAsset.virtualMachine" (change)="checkValue(virtualAsset.virtualMachine)">{{"This is a Virtual Machine (VM)" | localize}}
                                <span></span>
                            </label>
                        </div>
                        <span class="form-text text-muted kt-padding-l-30">{{"Virtual Machines or VM are hosted on a virtual host." | localize}}</span>
                    </div>               
             </div>
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Description" | localize}}</label>
                    <textarea type="text" class="form-control" [(ngModel)]="virtualAsset.description" placeholder="Description" name="descriptions" style="height:100px !important"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="kt-section kt-section--first" *ngIf="virtualhost">
    <div class="kt-section__body">
        <h5 class="kt-section__title kt-section__title-sm">{{"Virtual Machine (VM) Host" | localize}}</h5>
        <hr />
        <div class="row">
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Parent Virtual Host" | localize}}</label>
                    <p-dropdown [style]="{'width': '100%'}" [options]="parentVirtualHost" [filter]="true" placeholder="Select Virtual Host" optionLabel="virtualAssetName" [(ngModel)]="selectedParentVirtualHost" name="parenthost" (onChange)="parentVirtualAssetChange($event)"></p-dropdown>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="kt-section kt-section--first">
    <div class="kt-section__body">
        <h5 class="kt-section__title kt-section__title-sm">{{"Hardware Hosted" | localize}}</h5>
        <hr/>
        <div class="row">          
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Hosted Server Name (Hardware)" | localize}}</label>
                    <p-dropdown [style]="{'width': '100%'}" [options]="hardwareAsset" [disabled]="!parenthostname"  [filter]="true" placeholder="Select Hosted Server" id="hardwareasset" optionLabel="hardwareAssetName"  [(ngModel)]="selectedHardwareAsset" name="hardware" (onChange)="hardwareAssetChaneg($event)"></p-dropdown>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="kt-section kt-section--first">
    <div class="kt-section__body">
        <h5 class="kt-section__title kt-section__title-sm">{{"Management & Dependencies" | localize}}</h5>
        <hr />
        <div class="row">
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Company Name" | localize}}</label>
                    <p-dropdown [style]="{'width': '100%'}" [options]="organization" [filter]="true" placeholder="Select Company" optionLabel="companyName" [(ngModel)]="selectedOrganization" name="oraganization" (onChange)="oraganizationChange($event)"></p-dropdown>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Business Unit - Owner" | localize}}</label>
                    <p-dropdown [style]="{'width': '100%'}" [options]="businessUnitOwner" [filter]="true" placeholder="Select Business Unit" optionLabel="businessUnitTitle" [(ngModel)]="selectedbusinessUnitOwner" name="businessUnitowner" (onChange)="businessUnitOwnerChange($event)"></p-dropdown>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Business Unit - Gaurdian" | localize}}</label>
                    <p-dropdown [style]="{'width': '100%'}" [options]="businessUnitGaurdian" [filter]="true" placeholder="Select Business Unit" optionLabel="businessUnitTitle" [(ngModel)]="selectedbusinessUnitGaurdian" name="businessUnit" (onChange)="businessUnitGaurdianChange($event)"></p-dropdown>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Business Services" | localize}}</label>
                    <p-multiSelect [style]="{'width': '100%'}" [maxSelectedLabels]="1" [options]="businessService" [filter]="true" placeholder="Select Business Service" optionLabel="businessServiceName" [(ngModel)]="selectedBusinessService" name="businessServices" (onChange)="businessServiceChange($event)"></p-multiSelect>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Business Process" | localize}}</label>
                    <p-multiSelect [style]="{'width': '100%'}" [maxSelectedLabels]="1" [options]="businessProcess" [filter]="true" placeholder="Select Business process" optionLabel="businessProcessName" [(ngModel)]="selectedbusinessProcess" name="businessProcess" (onChange)="businessProcessChange($event)"></p-multiSelect>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"IT Services" | localize}}</label>
                    <p-multiSelect [style]="{'width': '100%'}" [maxSelectedLabels]="1" [options]="itservice" [filter]="true" placeholder="Select ITService Name" optionLabel="itServiceName" [(ngModel)]="selectedItservice" name="itservicesname" (onChange)="itserviceChange($event)"></p-multiSelect>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="kt-section kt-section--first">
    <div class="kt-section__body">
        <h5 class="kt-section__title kt-section__title-sm">{{"Ownership" | localize}}</h5>
        <hr />
        <div class="row">
            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Asset Owner" | localize}}</label>
                    <p-dropdown [style]="{'width': '100%'}" [options]="assetOwner" [filter]="true" placeholder="Select Owner" optionLabel="employeeName" [(ngModel)]="selectedAssetOwner" name="assetowner" (onChange)="assetOwnerChange($event)"></p-dropdown>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="kt-section kt-section--first">
    <div class="kt-section__body">
        <h5 class="kt-section__title kt-section__title-sm">{{"Classification" | localize}}</h5>
        <hr />
        <div class="row">

            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Confidentiality" | localize}}</label>
                    <p-dropdown [style]="{'width': '100%'}" [options]="Confidentiality" [filter]="true" placeholder="Select Confidentiality" optionLabel="value" [(ngModel)]="selectedConfidentiality" name="Confidentiality" (onChange)="confidentialityChange($event)"></p-dropdown>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Integrity" | localize}}</label>
                    <p-dropdown [style]="{'width': '100%'}" [options]="integrity" [filter]="true" placeholder="Select integrity" optionLabel="value" [(ngModel)]="selectedintegrity" name="integrity" (onChange)="integrityChange($event)"></p-dropdown>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Availibility" | localize}}</label>
                    <p-dropdown [style]="{'width': '100%'}" [options]="availibility" [filter]="true" placeholder="Select Availibility" optionLabel="value" [(ngModel)]="selectedAvailibility" name="availibility" (onChange)="availibilityChange($event)"></p-dropdown>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 co-sm-12">
                <div class="form-group">
                    <label>{{"Others" | localize}}</label>
                    <p-dropdown [style]="{'width': '100%'}" [options]="others" [filter]="true" placeholder="Select others" optionLabel="value" [(ngModel)]="selectedothers" name="others" (onChange)="othersChange($event)"></p-dropdown>
                </div>
            </div>

        </div>
    </div>
</div>

