<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <common-header [title]="title" [subTitle]="subTitle" [pageTitle]="pageTitle" [pageMenuOrg]="true"></common-header>
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        <span>{{"BusinessUnit" | localize}}</span>
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">                    
                    <div id="generalSearch" class="kt-input-icon kt-input-icon--left kt-padding-r-5">
                        <input type="text" class="form-control" placeholder="Search..." style="width:200px;">
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                            <span><i class="flaticon2-search-1"></i></span>
                        </span>
                    </div>
                    <button *ngIf="bulkedit " (click)="bulkEditBusinessUnitModals.show()"
                            class="btn btn-widget btn-sm">
                        {{"Edit" | localize}}
                    </button>
                    <button (click)="addBusinessUnit()"
                            class="btn btn-primary btn-sm appThemeBgColor w-100" style="border: none;">
                        <i class="flaticon2-add-1"></i>
                        {{"Business Unit" | localize}}
                    </button>
                    <button class="btn btn-sm border kt-margin-l-5">
                        <i class="la la-filter no-padding"></i>
                    </button>
                    <button class="btn btn-sm border kt-margin-l-5">
                        <i class="fa fa-bars no-padding"></i>
                    </button>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="row align-items-center">
                    <grid-view-business-units-view (bulkEditEvent)="getBulkEdit($event)"></grid-view-business-units-view>
                </div>
            </div>
        </div>
    </div>
</div>
<bulkEditBusinessUnitModals #bulkEditBusinessUnitModals></bulkEditBusinessUnitModals>
