<div id="form_business_management" class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item">
        <common-header [title]="title" [subTitle]="subTitle" [pageTitle]="pageTitle" [pageMenuAsset]="true"></common-header>
    </div>
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="kt-portlet kt-portlet--height-fluid">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                {{"" | localize}}
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="kt-portlet kt-portlet--height-fluid">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                {{"" | localize}}
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="kt-portlet kt-portlet--height-fluid">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                {{"" | localize}}
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="kt-portlet kt-portlet--height-fluid">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                {{"" | localize}}
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
