<div appBsModal #allContactsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="allContactsModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <form #associatedPogramsForm="ngForm">
                <div class="modal-header">
                    <h4 class="modal-title">
                        {{'Edit Business Risks' | localize}}
                    </h4>

                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-outline-cancel" (click)="close()">{{"Cancel" | localize}}</button>
                    <button type="submit" class="btn btn-sm btn-submit"><i class="fa fa-save"></i> <span>{{"Save" | localize}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>




