/* You can add global styles to this file, and also import other style files */

body {
  font-size: 12px !important;
}

@import "~@ng-select/ng-select/themes/default.theme.css";

$app-theme-color: #9e227e;

.appThemeColor {
  color: $app-theme-color !important;
}

.appThemeBgColor {
  background-color: $app-theme-color !important;
}

ul.dropdown-menu.show {
  left: -3rem !important;
}

.kt-header {
  background-image: linear-gradient(-90deg, #48173c, #77185f, #9e227e);
}

.kt-header
  .kt-header__topbar
  .kt-header__topbar-item.kt-header__topbar-item--user
  .kt-header__topbar-user
  .kt-header__topbar-username {
  color: #fff !important;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border: none;
  border-bottom: 3px solid #9e227e !important;
}

.kt-scrolltop {
  background: #9e227e !important;
}

.margin-left-5 {
  margin-left: 5px !important;
}

.margin-right-5 {
  margin-right: 5px !important;
}

.margin-top-5 {
  margin-top: 5px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

.padding-left-5 {
  padding-left: 5px !important;
}

.padding-right-5 {
  padding-right: 5px !important;
}

.padding-top-5 {
  padding-top: 5px !important;
}

.padding-bottom-5 {
  padding-bottom: 5px !important;
}

.width-percent-5 {
  width: 5%;
}

.width-percent-10 {
  width: 10%;
}

.width-percent-15 {
  width: 15%;
}

.width-percent-20 {
  width: 20%;
}

.width-percent-30 {
  width: 30%;
}

.width-percent-40 {
  width: 40%;
}

.width-percent-50 {
  width: 50%;
}

.width-percent-100 {
  width: 100%;
}

/* Sweet alert */

.swal2-title {
  display: inline-block !important;
}

body.swal2-height-auto {
  height: inherit !important;
}

body .ui-accordion .ui-accordion-header {
  margin-bottom: 10px;
}

.swal2-popup.swal2-toast {
  padding: 10px 12px !important;
  display: block !important;
}

.swal2-popup.swal2-toast .swal2-header,
.swal2-popup.swal2-toast .swal2-title,
.swal2-popup.swal2-toast .swal2-content {
  text-align: left !important;
  margin: 0 !important;
}

body .ui-inputtext:enabled:focus:not(.ui-state-error) {
  border-color: #8a1d6e !important;
}

body .ui-dropdown-panel .ui-dropdown-filter-container .ui-dropdown-filter-icon {
  color: #8a1d6e;
}

.swal2-popup.swal2-toast .swal2-title {
  margin-bottom: 4px !important;
}

.kt-aside-menu
  .kt-menu__nav
  > .kt-menu__item
  > .kt-menu__link
  .kt-menu__link-text {
  color: #3a3a5d !important;
}

th.mat-header-cel {
  color: black !important;
}

.theme-default .bs-datepicker-head {
  background-color: #6f1859 !important;
}

.kt-section .kt-section__heading,
.kt-section .kt-section__title {
  margin-bottom: 5px !important;
}

.custom-dropzone {
  /*height:100% !important;*/
  border: none !important;
}

.custom-dropzone img {
  width: 100% !important;
}

.intl-tel-input.separate-dial-code .selected-flag {
  background-color: transparent !important;
}

.intl-tel-input .selected-flag {
  padding: 0px 0px 0px 3px !important;
}

.intl-tel-input .flag-container {
  border-right: 1px solid #e2e5ec !important;
}

.flaticon2-add-1 {
  font-size: 0.9rem;
}

@keyframes glowing {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

.glowing {
  animation: glowing 2s infinite;
}

gridster-item {
  z-index: 0 !important;
}

.app-gradient {
  background: linear-gradient(
    90deg,
    rgba(158, 34, 126, 1) 0%,
    rgba(38, 0, 28, 1) 100%
  ) !important;
}

.kt-aside-menu
  .kt-menu__nav
  > .kt-menu__item.kt-menu__item--active
  > .kt-menu__heading,
.kt-aside-menu
  .kt-menu__nav
  > .kt-menu__item.kt-menu__item--active
  > .kt-menu__link {
  background-color: white !important;
}

.kt-aside-menu
  .kt-menu__nav
  > .kt-menu__item.kt-menu__item--active
  > .kt-menu__heading
  .kt-menu__link-text,
.kt-aside-menu
  .kt-menu__nav
  > .kt-menu__item.kt-menu__item--active
  > .kt-menu__link
  .kt-menu__link-text {
  color: #9899ac !important;
}

.kt-aside-menu
  .kt-menu__nav
  > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
  > .kt-menu__heading,
.kt-aside-menu
  .kt-menu__nav
  > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
  > .kt-menu__link {
  background-color: #ffe4f8 !important;
}

.kt-aside-menu
  .kt-menu__nav
  > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
  > .kt-menu__heading
  .kt-menu__link-text,
.kt-aside-menu
  .kt-menu__nav
  > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
  > .kt-menu__link
  .kt-menu__link-text {
  color: $app-theme-color !important;
}

.kt-aside-menu
  .kt-menu__nav
  > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
  > .kt-menu__heading
  .kt-menu__link-icon,
.kt-aside-menu
  .kt-menu__nav
  > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover
  > .kt-menu__link
  .kt-menu__link-icon {
  color: $app-theme-color !important;
}

.kt-aside-menu
  .kt-menu__nav
  > .kt-menu__item.kt-menu__item--active
  > .kt-menu__heading,
.kt-aside-menu
  .kt-menu__nav
  > .kt-menu__item.kt-menu__item--active
  > .kt-menu__link {
  background-color: $app-theme-color !important;
}

.kt-aside-menu
  .kt-menu__nav
  > .kt-menu__item.kt-menu__item--active
  > .kt-menu__heading
  .kt-menu__link-icon,
.kt-aside-menu
  .kt-menu__nav
  > .kt-menu__item.kt-menu__item--active
  > .kt-menu__link
  .kt-menu__link-icon {
  color: white !important;
}

.kt-aside-menu
  .kt-menu__nav
  > .kt-menu__item.kt-menu__item--active
  > .kt-menu__heading
  .kt-menu__link-text,
.kt-aside-menu
  .kt-menu__nav
  > .kt-menu__item.kt-menu__item--active
  > .kt-menu__link
  .kt-menu__link-text {
  color: white !important;
}

.intl-tel-input {
  height: 100% !important;
  width: 100% !important;
}

.intl-tel-input input {
  height: 100%;
  width: 100%;
  border: none;
}

.intl-tel-input .country-list .country {
  padding: 10px 10px !important;
}

.intl-tel-input input#country-search-box {
  height: 40px !important;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #9d227e;
  border-color: #9c227e;
}

.kt-aside-menu {
  background-color: #fff !important;
}

.kt-aside {
  background-color: #fff !important;
}

.kt-aside__brand {
  background-color: #fff !important;
}

.kt-header {
  height: 55px !important;
}

.kt-aside__brand {
  height: 55px !important;
}

.kt-subheader {
  top: 55px !important;
}

.no-padding {
  padding: 0px !important;
}

.no-margin {
  margin: 0px !important;
}

body .ui-table .ui-table-thead > tr > th {
  background-color: #fff !important;
}

body
  .ui-accordion
  .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover
  a
  .ui-accordion-toggle-icon {
  color: #fff;
}

body .ui-table .ui-table-tbody > tr:nth-child(even) {
  background-color: #fff !important;
}

.background-color {
  background-image: linear-gradient(-90deg, #48173c, #77185f, #9e227e);
}

.kt-subheader .kt-subheader__main .kt-subheader__desc {
  color: darkgray;
}

body .ui-dialog .ui-dialog-titlebar {
  background-color: #fff !important;
}

body .ui-dropdown {
  height: calc(1.3em + 1.3rem + 2px) !important;
}

.kt-subheader--solid .kt-subheader {
  min-height: 45px !important;
}

.kt-widget4 .kt-widget4__item .kt-widget4__info .kt-widget4__username {
  color: #e0a6d1 !important;
}

.primeng-datatable-container .ui-table table thead tr {
  border-bottom: solid gainsboro 0.5px !important;
}

body .ui-table .ui-table-tbody > tr {
  border-bottom: solid gainsboro 0.5px !important;
}

body .ui-dropdown .ui-dropdown-clear-icon {
  display: none !important;
}

body .ui-chkbox .ui-chkbox-box.ui-state-active {
  border-color: #60174e !important;
  background-color: #60174e !important;
  color: #ffffff !important;
}

.kt-portlet .kt-portlet__head {
  min-height: 45px !important;
}

input:focus {
  outline: 1px solid #e2e5ec;
}

.kt-header-menu-quick:hover {
  background-color: #7c1963 !important;
}

.mouse-hover {
  cursor: pointer;
}

.primeng-datatable-container .ui-table table thead tr th {
  font-size: 12px !important;
  font-weight: 900 !important;
}

body .ui-table .ui-table-tbody > tr {
  font-size: 12px !important;
}

.btn-submit {
  background-color: #9c227d !important;
  color: #fff !important;
}

.form-control {
  font-size: 11px !important;
}

.form-group label {
  font-size: 11px !important;
}

.kt-radio-inline .kt-radio {
  font-size: 11px !important;
}

.pi-upload .pi-times {
  display: none !important;
}

body .ui-dropdown {
  border: 1px solid #e2e5ec !important;
}

body .ui-dropdown .ui-dropdown-trigger {
  color: #e2e5ec !important;
}

.btn-widget {
  background-color: #9c227d !important;
  color: #fff !important;
}

#kt_header_quikc_menu {
  ul li:hover {
    background-color: #9c217d !important;
    color: #fff !important;
  }
}

body .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider {
  background-color: #9c227d;
}

body
  .ui-inputswitch.ui-inputswitch-checked:not(.ui-state-disabled):hover
  .ui-inputswitch-slider {
  background-color: #9c227d;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
  background-color: #661753 !important;
}

.primeng-datatable-container .primeng-paging-container .ui-paginator a {
  font-size: 12px !important;
}

body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight,
body
  .ui-dropdown-panel
  .ui-dropdown-items
  .ui-dropdown-item-group.ui-state-highlight {
  background-color: #661753 !important;
}

.btn-outline-cancel {
  color: #e283c9 !important;
  border-color: #e283c9 !important;
}

@media (max-width: 1024px) {
  .kt-header-mobile {
    background-color: #fff !important;
  }

  .kt-header__topbar--mobile-on .kt-header__topbar {
    z-index: 98 !important;
  }
}

.kt-badge.kt-badge--pill {
  border-radius: 2rem !important;
}

body .ui-accordion .ui-accordion-header a .ui-accordion-toggle-icon {
  color: #848484;
  float: right !important;
}

body
  .ui-accordion
  .ui-accordion-header:not(.ui-state-disabled).ui-state-active:hover
  a {
  background-color: #581b4d;
  border: 1px solid #581b4d;
  color: #ffffff;
}

body .ui-accordion .ui-accordion-header:not(.ui-state-disabled):hover {
  background-color: #581b4d;
  border: 1px solid #581b4d;
  color: #ffffff;
}

body
  .ui-accordion
  .ui-accordion-header:not(.ui-state-disabled).ui-state-active
  a {
  background-color: #581b4d;
  border: 1px solid #581b4d;
  color: #ffffff;
}

body
  .ui-accordion
  .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover
  a {
  background-color: #9c227e;
  border: 1px solid #9c227e;
  color: #ffffff;
}

body .ui-widget {
  font-size: 12px;
  font-family: Poppins !important;
}

body .ui-dropdown .ui-dropdown-label {
  padding-top: 8px !important;
}

body .ui-multiselect .ui-multiselect-label {
  color: #646c9a !important;
}

body .pi {
  color: #e2e5ec !important;
}

body .ui-multiselect {
  border: 1px solid #e2e5ec !important;
}

.form-group {
  margin-bottom: 10px !important;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > .dropdown-item:hover {
  background: #881c6c;
  color: #fff !important;
}

body .ui-multiselect .ui-multiselect-label {
  height: calc(1.3em + 1.3rem + 0px);
}

body .ui-table .ui-sortable-column.ui-state-highlight {
  color: #333333 !important;
}

body .ui-table .ui-sortable-column.ui-state-highlight .ui-sortable-column-icon {
  color: #848484 !important;
}

.primeng-datatable-container .ui-table tr:nth-child(odd).ui-state-highlight {
  background-color: #fff !important;
  color: #333;
}

.form-group.form-md-line-input .form-control.ng-touched.ng-invalid {
  border-bottom-color: red;
}

.ng-touched.ng-invalid:not(form) {
  border: 1.5px solid red !important;
}

.intl-tel-input input :focus {
  outline: none !important;
}

body .ui-dropdown.ui-dropdown-clearable .ui-dropdown-label {
  padding-top: 8px !important;
}

.ui-placeholder {
  color: #646c9a !important;
}

@media (max-width: 1024px) {
  .kt-header__topbar--mobile-on .kt-header__topbar {
    z-index: 98 !important;
  }
}

@media (min-width: 1025px) {
  .kt-aside--static .kt-aside .kt-aside-menu {
    margin-top: 40px !important;
  }

  .kt-header--fixed.kt-subheader--fixed .kt-subheader {
    /*z-index: 0 !important;*/
  }

  .kt-header--fixed.kt-subheader--fixed.kt-subheader--enabled .kt-wrapper {
    padding-top: 100px !important;
  }

  .kt-header--fixed.kt-subheader--fixed .kt-subheader {
    height: 45px !important;
  }
}
.ui-dropdown .ui-dropdown-panel {
  min-width: 100%;
  width: max-content;
}
.nav-tabs .nav-link {
  border: 0px solid transparent !important;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: black;
}

.table-text-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

app-add-edit-incident,
add-edit-organization-policies,
app-add-edit-citations {
  .ui-chkbox {
    .ui-chkbox-box {
      .ui-chkbox-icon {
        font-size: 14px !important;
      }
      &.ui-state-active {
        &.ui-state-focus {
          border-color: #60174e !important;
          .ui-chkbox-icon {
            font-size: 14px !important;
          }
        }
      }
    }
  }

  .ui-tabview {
    .ui-tabview .ui-tabview-title {
      vertical-align: middle;
      color: #48465b !important;
    }
    .ui-tabview-panels {
      background-color: #ffffff;
      padding: 1.571em 1em;
      border: none !important;
      color: #48465b !important;
    }
    &.ui-tabview-top .ui-tabview-nav {
      margin-bottom: -1px;
      border-bottom: 2px solid lightgray !important;
      li {
        border-bottom: 1px solid #60174e !important;
        border: none !important;
        background-color: #ffffff !important;
        &.ui-state-active {
          background: #ffffff !important;
          border-bottom: 2px solid #60174e !important;
          color: #60174e !important;
          a {
            color: #60174e !important;
          }
        }
      }
    }
  }

  .white-space-wrap {
    white-space: nowrap;
    width: 200px !important;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ui-radiobutton .ui-radiobutton-box.ui-state-active {
    border-color: #60174e !important;
    background-color: #60174e !important;
    color: #ffffff;
  }
  .ui-button {
    margin: 0;
    color: #ffffff;
    background-color: #60174e !important;
    border: 1px solid #60174e !important;
    font-size: 14px;
    transition: background-color 0.2s, box-shadow 0.2s;
  }
  .ui-button.ui-button-text-icon-left .ui-button-text {
    color: #ffffff !important;
  }
}

.required::after {
  content: "*";
  color: red;
}

p-calendar {
  width: 100%;
  span {
    width: 100%;
    input {
      display: block;
      width: 100%;
      height: calc(1.5em + 1.3rem + 2px);
      padding: 0.65rem 1rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #e2e5ec !important;
      border-radius: 4px;
      -webkit-transition: border-color 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
      transition: border-color 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    }
  }
}

.related-information {
  .ui-tabview.ui-tabview-top .ui-tabview-nav li {
    margin-right: 1.5rem !important;
    background-color: white !important;
    border: white !important;
    &.ui-state-active {
      background-color: #60174e !important;
      border: 1px solid #60174e !important;
    }
  }
  .ui-tabview .ui-tabview-panels {
    border: none !important;
  }
}

create-or-edit {
  .row {
    &.related-info-view {
      p-tabview {
        .ui-tabview-panels {
          display: inline !important;
          p-tabpanel {
            app-business-unit {
              .kt-content {
                padding: 0 !important;
                .kt-container {
                  padding: 0 !important;

                  .kt-portlet {
                    .kt-portlet__head {
                      padding: 0 !important;
                    }
                    .kt-portlet__body {
                      padding: 0 !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
