<div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label"><span class="kt-portlet__head-icon"></span>
        <h3 class="kt-portlet__head-title"> {{title}} </h3>
    </div>
    <div class="kt-portlet__head-toolbar">
        <div class="kt-portlet__head-wrapper">
            <div class="kt-portlet__head-actions">
                <div class="dropdown dropdown-inline">
                    <button type="button" class="btn btn-primary btn-sm"
                        style="background-color: white;border: none;color: gray;">
                        <i class="fa fa-arrow-left"></i>
                        Back
                    </button>
                </div> &nbsp;
                <button type="button" class="btn btn-primary btn-sm appThemeBgColor" style="border: none;">
                    <i class="fa fa-check"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
</div>